body {
    width: 100%;
}


#main-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-left: 20px;
   
   
}


.pInstruct {
    display: inline;
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;

}

h1 {
    height: 30px;
    color: rgb(110, 43, 32);
}

.hdn {
    display: none;
}


h3 {
    width: 30%;
    color: brown;
}

p {
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
    margin-bottom: 30px; 
    width: 30%;   

}

hr {
    height: 3px;
    width: 40vh;
    margin-right: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: cadetblue;
    border-radius: 5px;
    background-color: #92a396;
}

img {
    border: 2px cadetblue solid;
    border-radius: 20px;
    width: 300px;
    height: 300px;

}

#cake-list {
    color: rgb(189, 12, 12);
    font-size: larger;
       
}

#cake-list:focus {
    color: rgb(12, 189, 92);
    font-size: larger;
    font-weight: 700;
    border: 3px blue solid;
    border-radius: 7px;
}

#cake-list:hover {
    color: rgb(38, 12, 189);
    font-size: larger;
    font-weight: 700;
    border: 3px blue solid;
    border-radius: 7px;
}



